body{
  background-color: cyan;
}

#contenedor{background-color: #FFFF;
width: 1500px;
height: 1000px;
}

h1{
  text-align: center;
  font-size: 45px;
}

img{
  width: 400px;
}

.izquierda{
  float: left;
  margin-left: 20px;
}

.derecha{
  float: right;
  margin-right: 20px;
}

p{
  margin-left: 430px;
}
